@using PagedList
@using PagedList.Mvc
@model IPagedList<QuanLyKhoGiaoHangNhanh.Models.LichSuGiaoHang>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Contents/css/General.css" />
    <title>Lịch sử giao hàng</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
                function confirmDelete(url) {
    Swal.fire({
        title: 'Bạn có chắc chắn muốn xóa?',
        text: "Thao tác này không thể hoàn tác!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Xóa',
        cancelButtonText: 'Hủy bỏ'
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = url;
        }
    });
}
    document.addEventListener("DOMContentLoaded", function () {
    var notification = "@Html.Raw(TempData["Notification"])";
    var notificationType = "@Html.Raw(TempData["NotificationType"])";

    if (notification && notificationType) {
        Swal.fire({
            position: "top-end",
            text: notification,
            icon: notificationType,
            showConfirmButton: false,
            timer: 1000
     });
    }
});
    </script>
</head>
<body>
    @if (Model.Count == 0)
    {
        <h1 class="flex-grow-1 text-center">
            Lịch sử giao hàng không có dữ liệu
        </h1>
    }
    else
    {
        <div class="container">
            <div class="header d-flex justify-content-between align-items-center">
                <h1 class="flex-grow-1 text-center">
                    Lịch sử giao hàng
                </h1>
                <form class="d-flex flex-grow-1 justify-content-center" method="get">
                    <div class="col-md-5 px-2 align-content-center">
                        <select name="searchTerm" class="form-select">
                            <option value="Lưu kho" @(Request.QueryString["searchTerm"] == "Lưu kho" ? "selected" : "")>Trạng thái: Lưu kho</option>
                            <option value="Đã giao" @(Request.QueryString["searchTerm"] == "Đã giao" ? "selected" : "")>Trạng thái: Đã giao</option>
                        </select>
                    </div>
                    <div class="col-md-5 px-2 align-content-center">
                        <select name="sortDeliveryHistory" class="form-select">
                            <option value="asc" @(Request.QueryString["sortDeliveryHistory"] == "asc" ? "selected" : "")>Ngày: xa nhât</option>
                            <option value="desc" @(Request.QueryString["sortDeliveryHistory"] == "desc" ? "selected" : "")>Ngày: gần nhất</option>
                        </select>
                    </div>
                    <div class="col-md-2 px-2 align-content-center">
                        <button type="submit" class="btn btn-warning">Lọc</button>
                    </div>
                </form>
                <div class="action-buttons">
                    <button class="btn btn-import" onclick="window.location.href='@Url.Action("ExportToExcel", "DeliveryHistory")'">
                        <i class="bi bi-file-earmark-spreadsheet"></i> Xuất Excel
                    </button>
                    <button class="btn btn-import" onclick="confirmDelete('@Url.Action("Delete", "DeliveryHistory")')">
                        <i class="bi bi-trash3"></i> Xóa dữ liệu
                    </button>

                </div>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id giao hàng</th>
                    <th>Trạng thái</th>
                    <th>Ngày</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.IdGiaoHang)</td>
                        @if (item.TrangThai == "Lưu kho")
                        {
                            <td><p style="background-color:blue; text-align:center; color:aliceblue">@item.TrangThai  </p></td>
                        }@if (item.TrangThai == "Đang giao")
                        {
                            <td><p style="background-color:red; text-align:center; color:aliceblue ">@item.TrangThai  </p></td>
                        }
                        @if (item.TrangThai == "Đã giao")
                        {
                            <td><p style="background-color:limegreen; text-align:center; color:aliceblue ">@item.TrangThai  </p></td>
                        }
                        <td>@Html.DisplayFor(modelItem => item.NgayGiao)</td>
                    </tr>
                }
            </tbody>

        </table>
        <div class="d-flex justify-content-center">
            @Html.PagedListPager(Model, page => Url.Action("Index",
                              new
                              {
                                  page = page,
                                  searchTerm = Request.QueryString["searchTerm"],
                                  sortDeliveryHistor = Request.QueryString["sortDeliveryHistor"]
                              }),
                              new PagedListRenderOptions
                              {
                                  DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                                  DisplayLinkToLastPage = PagedListDisplayMode.Always,
                                  DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                  DisplayLinkToNextPage = PagedListDisplayMode.Always,
                                  MaximumPageNumbersToDisplay = 5,
                                  DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                  UlElementClasses = new[] { "pagination" },
                                  LiElementClasses = new[] { "page-item" },
                              })

        </div>
    }
</body>
</html>
