@model QuanLyKhoGiaoHangNhanh.Models.NhanVien

<div style="color:black">
    <p><strong>Tên:</strong> @Model.TenNhanVien</p>
    <p><strong>Địa chỉ:</strong> @Model.ThuongTru</p>
    <p><strong>Sdt:</strong> @Model.Sdt</p>
    <p><strong>Gmail:</strong> @Model.Gmail</p>
    <p><strong>Khối:</strong> @Model.Khoi</p>
    <p><strong>Lương:</strong> @String.Format("{0:0,0}", Model.Luong) VND</p>
</div>
